* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.abc {
  display: flex;
}

.header {
  width: 100%;
  height: 90px;
  border-top: 3px solid #2c4152;
  z-index: 101;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 6px 0rgba (0, 0, 0, 0.2);
}

.guest {
  line-height: 23px;
}

.guest ul {
  list-style-type: none;
  justify-content: right;
  font-size: 12px;
  margin-right: 6%;
  align-items: center;
}

.guest ul li {
  margin-left: 2%;
  color: #406786;
  letter-spacing: 0.1em;
}

.guest ul li a,
.menu-bar a {
  text-decoration: none;
  color: #406786;
}

.guest ul li:hover {
  text-decoration: underline;
}

.guest ul li:last-child {
  background-color: black;
  padding: 5px 10px 7px;
}

.guest ul li:last-child a {
  color: #fff;
}

.logo img {
  width: 130px;
  height: 38px;
  margin-left: 5.5%;
  margin-top: -0.5%;
}

.menu-bar {
  align-items: center;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: -2%;
}

.menu-bar a {
  font-size: 16px;
  margin-right: 3%;
}

.menu-bar a:last-child img {
  margin-left: 50%;
}

.menu-bar input {
  width: 269px;
  height: 34px;
  outline: 0;
  border-radius: 17px;
  border: 1px solid #2c4152;
  padding: 0 20px 0 12px;
  background-color: #fffded;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.images .img img,
.flat img {
  width: 100%;
  vertical-align: top;
  transition: 0.5s linear;
}

.img img:hover,
.flat img:hover {
  transform: scale(1.02);
}

.images .img .first {
  margin-top: 6.5%;
}

/* .secure {
  height: 120px;
  width: 100%;
} */

.footer {
  height: auto;
  width: 100%;
  background-color: #2c4152;
}

.Ajio {
  margin-left: 6%;
}

.Ajio p {
  color: #ccc;
  font-size: 14px;
  margin-top: 50px;
}

.Ajio a {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 8px;
  text-decoration: none;
}

.Ajio a:hover {
  text-decoration: underline;
}

.footer-main {
  justify-content: space-around;
  margin-right: 30%;
}

.link {
  margin-top: 20px;
  display: grid;
}

.line {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 40px;
}

.payments {
  justify-content: space-around;
  gap: 57%;
  color: #ccc;
  margin-top: 20px;
  font-size: 14px;
}

@media only screen and (max-width: 800px) {
  /*Big smartphones [426px -> 600px]*/
  .guest ul li:last-child,
  .menu-bar {
    display: none;
  }

  .logo img {
    width: 40px;
  }

  .guest ul {
    position: relative;
    top: 13px;
  }

  .header {
    height: 67px;
  }

  .images .img .first {
    margin-top: 20.5%;
  }

  .flat,
  .footer-main,
  .payments {
    flex-direction: column;
  }

  .payments p:last-child {
    margin-top: 5%;
  }
}
